/* estilos globais do root – pode ficar vazio */

.lqd-bg-primary {
  background: #007bff;
}

.lqd-text-white {
  color: #fff;
}

.lqd-text-3xl {
  font-size: 2.25rem;
}

.lqd-font-bold {
  font-weight: bold;
}

.lqd-text-center {
  text-align: center;
}

.lqd-py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.lqd-mb-32 {
  margin-bottom: 32px;
}